{% extends "base.html" %}
{% block detail %}
<a class="btn btn-primary" href="/newarticle" role="button">新建文章</a>
<a class="btn btn-primary" href="/articlelist" role="button">文章列表</a>
<h1>文章列表</h1>
{% for i in res %}
<div class="panel panel-default">
      <div class="panel-heading">
          <a href="/article?article_id={{i['article_id']}}"> <h3 class="panel-title">{{i['title']}}</h3> </a>
          <p>创建时间:{{i['create_time']}}</p>
      </div>
      <div class="panel-body">
          {{i['content']}}
      </div>
</div>
{% end %}

{% end %}
